.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em;
  }

  .profile-card {
    width: 400px;
    padding: 0 6px;
  }

  .hidden {
    background-color: #f3f3f3;
    display: none;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between header and other info */
  }
  
  .profile-title {
    margin-right: 40px; /* Space between 'Profile' text and avatar */
}
