.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-card {
    width: 400px;
  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between header and other info */
  }
  
  .profile-title {
    margin-right: 40px; /* Space between 'Profile' text and avatar */
}
  