
  .edit-profile-container {
    padding: 0 16px 16px 16px;
  }

  .edit-profile-container:last-child {
    padding-bottom: 16px !important;
  }

  .form-title {
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center; /* Center-align the title */
  }
  
  .MuiTextField-root {
    margin-bottom: 0.1rem; /* Space between text fields */
  }

  .MuiCardContent:last-child {
    padding-bottom: 18px;
  }
  
  .submit-button {
    margin-top: 1rem;
    align-self: center; /* Center-align the button */
    width: 100%;
  }
  
  .MuiTypography-body2 {
    margin-top: 1rem;
    text-align: center; /* Center-align error messages */
  }
  