.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73vh; /* Matches Signin container height */
  background-color: #f5f7fb;
  padding: 2rem;
}

.signup-card {
  display: flex;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 36px 60px 0px !important;
  flex-direction: row;
  max-width: 1100px; /* Matches Signin card width */
  height: 100%;
  max-height: 450px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.signup-left {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  background: url("../../assets/vecteezy_employee-is-working-in-his-workplace-illustration_.jpg") bottom center;
  background-position-x: -140px;
  background-size: cover;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.signup-right {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally (if needed) */
}

.signup-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.signup-button {
  margin-top: 1.5rem;
  text-transform: none;
}

.signup-footer {
  margin-top: 1rem;
  text-align: center;
}
