.signup-container {
    display: flex;
    height: 100vh;
  }
  
  .signup-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-image img {
    max-width: 100%;
    height: auto;
  }
  
  .signup-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }